:root{
    --colorFondo: #00005e;
    --colorMenu: #2f4f4f;
    --sombraMenu: #4b6363;
    --separacion: 20px;
}

/* Estilos del body: */
*{
    margin: 0px;
}

.margenInf5{
    margin-bottom: 5px;
}

body{
    background-color: var(--colorFondo);
}

/* Estilos del nav: */

nav{
    position: sticky;
    top: 0px;
}

.menu{
    padding: 15px;
    background-color: var(--colorMenu);
    list-style-type: none;
}

.menuLi{
    display: inline;
    margin-left: 25px;
}

/* Estilos del a href: */
.enlaceMenu{
    text-decoration: none;
    color: black;
    padding: 16px;
}

.enlaceMenu:hover{
    background-color: var(--sombraMenu);
    opacity: 0.75;
}

/* Estilos del section: sobre nosotros */

#nos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#historia{
    width: 60%;
    text-align: justify;
    background-color: aliceblue;
    opacity: 0.5;
    padding: var(--separacion);
}

#mapa{
    justify-self: center;
}

#ubiClub{
    color: aliceblue;
    font-size: 1.5em;
}