:root{
    --colorFondo: #00005e;
    --colorMenu: #2f4f4f;
    --colorDeportes: rgb(0, 0, 27);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--colorFondo);
    background-image: url(./imagenes/logotipoFondoPantalla.png);
    background-repeat: no-repeat;
    background-position: center 70%;
}

/* h1 de index.html */
#titNombreClub{
    font-size: 3em;
    text-align: center;
    padding: 50px;
    color: white;
    text-shadow: 2px 2px black, -2px -2px black;
}

/* nav de index.html */
.menu{
    padding: 15px;
    background-color: var(--colorMenu);
    list-style-type: none;
}

.menuLi{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

#logotipoMenu{
    border-style: none;
    float: right;
    margin-right: 50px;
}
/*
#logotipoIcono{
    padding: 0px;
    height: 50px;
}*/

/* body de index.html */

/* Para agregar la imagen con el escudo del "equipo" en el fondo de pantalla del body */

/* main de index.html */
.deportesOpciones{
    margin-top: 300px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 20px;
    justify-content: space-around;
    align-items: stretch;
}

.vinieta{
    background-color: var(--colorDeportes);
    color: aliceblue;
    opacity: 0.5;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 50%;
    height: 50px;
}

.material-icons-outlined{
    color:white;
}

p{
    font-size: 1.5em;
}

.enlace{
    text-decoration: none;
    color: black; /* no infiere en el color de 'vinieta' ya que ahí están especificadas que son de otro color */
}

.vinieta:hover{
    background-color: var(--colorMenu);
}

.vinieta:active{
    color:black;
}