:root{
    --colorFondo: #00005e;
    --colorMenu: #2f4f4f;
    --sombraMenu: #4b6363;
    --separacion: 20px;
    --colorFondoForm: rgb(0, 0, 27);
    --colorFondoClaro: aliceblue;
}

/* Estilos del body: */
*{
    margin: 0px;
}

.margenInf5{
    margin-bottom: 5px;
}

body{
    background-color: var(--colorFondo);
}

/* Estilos del nav: */

nav{
    position: sticky;
    top: 0px;
    z-index: 1;
}

.menu{
    padding: 15px;
    background-color: var(--colorMenu);
    list-style-type: none;
}

.menuLi{
    display: inline;
    margin-left: 25px;
}

/* Estilos del a href: */
.enlaceMenu{
    text-decoration: none;
    color: black;
    padding: 16px;
}

.enlaceMenu:hover{
    background-color: var(--sombraMenu);
    opacity: 0.75;
}

/* Estilos del section: sobre nosotros */

#nos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#historia{
    width: 60%;
    text-align: justify;
    background-color: var(--colorFondoClaro);
    opacity: 0.5;
    padding: var(--separacion);
    z-index: 0;
}

#mapa{
    justify-self: center;
}

#ubiClub{ /* id para identificar al p que hace de "título" */
    color: var(--colorFondoClaro);
    font-size: 1.5em;
}

/* Estilos de las instalaciones: */

#instalaciones{
    display: flex;
    justify-content: center;
    padding: 40px;
    opacity: 0.5;
}

#divInstalaciones{
    background-color: var(--colorFondoClaro);
    width: 100%;
    padding: 15px;
}

.pClases{ /* clase aplicada a los "títulos" que se encontraban escritos dentro de un p */
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* Estilos del formulario de contacto: */

#formulario{
    display: flex;
    justify-content: center;
}

form{
    background-color: var(--colorFondoForm);
    color: var(--colorFondoClaro);
    width: 40%;
    padding: 20px;
    margin-bottom: 40px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#tForm{ /* es el título del formulario */
    text-align: center;
}  

label{
    display: block;
    padding: 10px;
}

input{
    height: 20px;
}

textarea{
    padding: 5px;
    margin-bottom: 10px;
    height: 100px;
}

select{
    border-radius: 20px;
}

.selector:hover{  /* clase para que el mouse se convierte en pointer al estar sobre ella */
    cursor: pointer;
}

.paraEscribir:focus{ /* clase que afecta a todos los input sobre los que se puede escribir */
    background-color: var(--colorMenu);
}

#boton:hover{ /* id para el input -> submit */
    background-color: var(--sombraMenu);
}