*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(0, 0, 94);
}

/* h1 de index.html */
#titNombreClub{
    font-size: 3em;
    text-align: center;
    padding: 50px;
    color: white;
    text-shadow: 2px 2px black, -2px -2px black;
}

/* nav de index.html */
.menu{
    padding: 15px;
    background-color: darkslategrey;
    list-style-type: none;
}

.menuLi{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

#logotipoMenu{
    background-color: yellow;
    height: 12px;
    border-style: none;
    float: right;
    margin-right: 50px;
}

/* body de index.html */

/* Para agregar la imagen con el escudo del "equipo" en el fondo de pantalla del body */

/* main de index.html */
.deportesOpciones{
    margin-top: 300px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 20px;
    justify-content: space-around;
    align-items: stretch;
}

.vinieta{
    background-color: aqua;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 50%;
}
