*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(0, 0, 94);
}

/* h1 de index.html */
#titNombreClub{
    font-size: 3em;
    text-align: center;
    padding: 50px;
    color: white;
    text-shadow: 2px 2px black, -2px -2px black;
}

/* header de index.html */
.menu{
    padding: 15px;
    background-color: darkslategrey;
    list-style-type: none;
}

.menuLi{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

#logotipoMenu{
    background-color: yellow;
    height: 12px;
    border-style: none;
    float: right;
    margin-right: 50px;
}

/* body de index.html */


/* main de index.html */
.deportesUl{
    margin-top: 300px;
    list-style-type: none;
}

.deportesLi{
    list-style-type: none;
    padding: 10px;
    background-color: blue;
    width: 30%;
    margin-bottom: 10px;
}

.deporte{
    display: inline;
}